include README.rst INSTALL.rst USAGE.rst CHANGELOG COPYING  AUTHORS.rst
include setup.py 
graft   examples/Parsegian
exclude examples/Parsegian/figs/*.tga examples/Parsegian/figs/*.dat.gz
graft   examples/2BG9
graft   bornprofiler/templates/


