include README INSTALL USAGE CHANGELOG COPYING  AUTHORS
include ez_setup.py setup.py 
graft   examples/Parsegian
exclude examples/Parsegian/figs/*.tga examples/Parsegian/figs/*.dat.gz
graft   examples/2BG9
graft   bornprofiler/templates/


